@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}

body {
    background: #fff;
}

.content-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}

footer {
    bottom: 0;
    font-weight: 500;
    margin: auto;
    padding: 20px 0;
    position: fixed;
    text-align: center;
    width: 100vw;
}

header {
    width: 100vw;
    padding: 20px 30px;
    font-weight: bold;
    font-size: medium;
}

.image {
    width: 30rem;
    height: 30rem;
}

.message {
    justify-content: center;
    margin: 20px;
}

.message__title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    word-spacing: 20px;
    word-break: break-all;
    width: 430px;
}

.message__sub-title {
    font-size: 20px;
    font-weight: 10px;
    margin-bottom: 40px;
    text-align: left;
    word-spacing: 10px;
}

.message__home {
    background: #3A3A38;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
}

@media(max-width: 50rem) {
    .content-container {
        flex-direction: column;
    }
    .image {
        width: 12rem;
        height: 12rem;
    }
    .message {
        margin-top: 50px;
    }
    .message__title {
        font-size: 30px;
        word-spacing: 5px;
        width: 250px;
    }
    .message__sub-title {
        font-size: 15px;
        margin-bottom: 50px;
        word-break: 5px;
    }
}